<footer class="border-top footer text-muted text-center">




    <div class="container">


        Copyright &copy; BookWanderer @DateTime.Now.Year | 
        @*
        <a href="mailto:tanujkumar@gmail.com"> tanujkumar@gmail.com</a>

        <custom-email asp-for=""></custom-email>

        *@
        <custom-email my-email="tanujkumar@gmail.com"></custom-email>
    </div>

</footer>